body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    padding: 2rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #4CAF(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
}

form button {
    width: 100%;
    padding: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #145217;
}
footer {
    background-color: #145217;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
